html {
  background-color: rgb(255, 252, 196);
}
.App {
  text-align: center;
}

h1 {
  margin: 1em;
  font-size: 48px;
}

.Homepage {
  margin-top: 5em;
}

.buttons {
  margin: 5em;
  display: flex;
  justify-content: space-between;
  
}

button {
  width: 160px;
  height: 120px;
  padding: 24px 3px;
  border-radius: 12px;
  border-width: 1px;
  font-size: 18px;

}

